:root {
  --buttonColor: #FFDC7D;
  --buttonColorHover: #FFBA00;
  --headerBlockHeight: 650px;
  --contentWidth: 1150px;
  --breakPointTablet: 600px;
  --breakPointDesktop: 800px;
  --breakPointDesktopLarge: 1024px;
  --greyColor: #787878;
  --defaultColor: #282828;
  --darkBackground: #f0f0f0;
  --topBarHeight: 70px;
  --borderColor: rgba(40, 40, 40, 0.2);
  --contentWidthTablet: 1010px;
  --contentWidthDesktop: 1440px;
  --maxContentWidth: 1010px;
  --paddingMobile: 25px;
  --paddingTablet: 80px;
}

@custom-media --tablet (width >= 600px);
@custom-media --medium (width >= 768px);
@custom-media --desktop (width >= 1004px);
