@font-face {
  font-family: 'Officina Serif';
  font-weight: 400;
  font-style: normal;
  src: url('https://assets.beeline.ru/fonts/officina-serif-book.woff2') format('woff2'),
       url('https://assets.beeline.ru/fonts/officina-serif-book.woff') format('woff'),
       url('https://assets.beeline.ru/fonts/officina-serif-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Officina Serif';
  font-weight: 700;
  font-style: normal;
  src: url('https://assets.beeline.ru/fonts/officina-serif-bold.woff2') format('woff2'),
       url('https://assets.beeline.ru/fonts/officina-serif-bold.woff') format('woff'),
       url('https://assets.beeline.ru/fonts/officina-serif-bold.ttf') format('truetype');
}
