@define-mixin column $colNumber, $gutter: 44px, $field: 44px, $unit: 100%  {
  width: calc(($colNumber * ($unit  -  $field) / 12) - $gutter);
  margin-left: calc($gutter / 2);
  margin-right: calc($gutter / 2);
}

@define-mixin wraperTablet $cols, $width: 1004px, $padding: 44px, $gutter: 44px, $field: 36px {
  width: calc($width - (($field * (12 - $cols)) + ($gutter * (12 - $cols)) + ($padding * 2)));
  margin: 0 auto;
}

@define-mixin triangleTop $size, $color {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $size $size $size;
  border-color: transparent transparent $color transparent;
}

@define-mixin resetButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@define-mixin stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@define-mixin ghostCenterParent {
  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@define-mixin small {
  @media all and (min-width: 600px) {
    @mixin-content;
  }
}

@define-mixin tablet {
  @media all and (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin desktop {
  @media all and (min-width: 1024px) {
    @mixin-content;
  }
}

/* texts and fonts */
@define-mixin h2 {
  font: 30px/1.2 'Officina Serif', serif;
  margin: 0;

  @mixin tablet {
    font: 50px/1.12 'Officina Serif', serif;
  }
}

@define-mixin textImportant {
  font: 17px/1.294 'Officina Serif', serif;
  margin: 0;
}

@define-mixin textVeryImportant{
  font: 21px/1.42 'Officina Serif', serif;
}

@define-mixin textTip {
  font: 13px/1.4 Arial, sans-serif;
}
